@media only screen and (max-width: 899px) {
	.letter {
		flex: 1;
	}
}

@media only screen and (min-width: 900px) {
	.letter {
		width: 5vw;
	}	
}

.letter {
	aspect-ratio: 1;
	border: 2px solid gray;
	margin: 3px;
	font-weight: bolder;
	font-size: 3rem;
	text-transform: uppercase;
	outline: none;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.letter.gray {
	background-color: #787c7e;
}

.letter.green {
	background-color: #6aaa64;
}

.letter.yellow {
	background-color: #c9b458;
}

.letter:hover {
	border-color: white;
}